/* FilePondStyles.css */
.filepond--panel {
  max-width: 250px; /* Adjust the width as needed */
  max-height: 250px; /* Adjust the height as needed */
  overflow: hidden; /* Hide overflow */
}

.filepond--image-preview {
  max-height: 100%; /* Adjust to keep the image within bounds */
}

.filepond--label-action {
  font-size: 12px; /* Adjust button text size */
}
